@use "../tools/" as *;
@use "./quiz-button" as button;

ul.options-list {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto 0;
  justify-content: space-between;

  li {
    @include button.quiz-button('button');

    &:hover::before,
    &.correct::before {
      opacity: 1;
    }

    &:hover > button,
    &.correct > button {
      color: $primary;
    }

    &.wrong {
      opacity: 0.6;
    }
  }
}
