@use "../tools/" as *;

.timer-bar-wrapper {
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 24px 0;
}

.timer-bar-fill {
  height: 100%;
  background-color: $riptide;
  transition: width 1s linear;
}
